*{
	font-family: bree-serif, serif;
	font-style: normal;
	font-weight: 800;
}

body{
	margin: 0;
	padding: 0;
}

/*navbar stuff*/
header{
	position: left;
	margin: 0;
	padding: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9ECDFF;
}

.navbar li {
  	float: left;
	padding: 0 5rem;
}

.navbar li a {
  	display: block;
  	color: black;
  	text-align: center;
  	padding: 1rem 3rem;
  	text-decoration: none;
	font-size: 1.5rem;
}

.navbar li a:hover {
  background-color: #6EB4FF;
}

/*dropdown code*/

.navbar li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9ECDFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #6EB4FF;}

.dropdown:hover .dropdown-content {
  display: block;
}

/*home page code*/

.homepage {
	width: 100%;
}

.homepage .home-hero {
	background-image: url("placeholder2.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 15rem;
	padding-right: 16%;
	padding-left: 15%;
	padding-bottom: 15rem;
	color:#A18EDF;
}

.home-hero-container{
	width: auto;
	margin: 0 auto;
	padding: 0 0 0 0;
}

.home-hero-container h1{
	width: 100%;
	font-size: 3rem;
	text-align: center;
}

#home-page-devider{
	width: 100%;
	padding:1rem 0;
	background-color: #9ECDFF;
}

.multiview {
	margin: 0;
	padding: 0;
}

#multiview-container{
		background: #8AB7E7;
}

#multiview-container h1{
	display: inline-flex;
	width: 40%;
	padding: 0 3rem;
	
}

#multiview-container span{
	padding: 0 2rem;
}

/*Product pages*/

.product-page {
	padding: 2rem;
}

#product-page-container{
	display: inline-flex;
}

#product-page-container img{
	
}

#product-page-container h1{
	padding: 0 4rem;
}

#product-page-container span{
	font-size: 24px	
}

#product-page-container a{
	color: black;
	text-decoration: none;
	padding: 1rem;
	background: #9ECDFF;
}

#product-page-container a:hover{
	background: #6EB4FF;
}
